<configuration>
	<!-- 控制台输出 -->
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%date [%thread] [%file:%line] [%level %logger{0}] - %msg%n
			</pattern>
		</layout>
	</appender>
	 <appender name="logfile-dao"   
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
<!--         <filter class="ch.qos.logback.core.filter.EvaluatorFilter">   -->
<!--             <evaluator name="myEval_dao">   -->
<!--                 <expression>message.contains("dao")</expression>   -->
<!--             </evaluator>   -->
<!--             <onMatch>ACCEPT</onMatch>   -->
<!--             <onMismatch>ACCEPT</onMismatch>   -->
<!--         </filter>   -->
        <Encoding>UTF-8</Encoding>  
        <file>D:/log/clientlogfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${log.base}.%d{yyyy-MM-dd}_dao.log.zip  
            </FileNamePattern>  
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>  
        </layout>  
    </appender>  
	<root>
		<level value="debug" />	
		<appender-ref ref="stdout" />	
		<appender-ref ref="logfile-dao" />		
	</root>
	<logger name="org.apache.zookeeper" level="ERROR" /> 
</configuration>
